@import 'normalize.css';

@font-face {
  font-family: Source Code;
  src: url('../fonts/SourceCodeVariable-Roman.subset.woff2');
}

@font-face {
  font-family: Source Code Italic;
  src: url('../fonts/SourceCodeVariable-Italic.subset.woff2');
}

@font-face {
  font-family: Xanh Mono Regular;
  src: url('../fonts/XanhMono-Regular.woff2');
}

@font-face {
  font-family: Xanh Mono Italic;
  src: url('../fonts/XanhMono-Italic.woff2');
}

:root {
  --root_ptsize: 15px;
  --bg: #eee8de;
  --txt: black;
  --solid-border: 1px solid var(--txt);
  --header_height: 51px;
  --content_margin: calc(var(--header_height));
  --h1_basesize: 3.5rem;
  --SourceCode: 'wght' 380;
  --SourceCodeBold: 'wght' 600;
  --SourceCodeItalic: 'wght' 380;
  --SourceCodeItalicBold: 'wght' 600;
  --grid-columns: 3;
  --grid-gap: 2rem;
  --wrapper-width: calc(100vw - 2 * var(--grid-gap));
  --recipe-card-color: #f6f2ea;
}

* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  font-size: var(--root_ptsize);
}

body {
  background: var(--bg);
  color: var(--txt);
  font-family: Source Code Pro;
  font-variation-settings: var(--SourceCode);
  font-feature-settings: "liga", "kern";
  font-size: 1rem;
  line-height: 1.45;
  padding: var(--grid-gap) 0;
}

a {
  cursor: pointer;
  color: inherit;
}

.wrapper {
  width: var(--wrapper-width);
  margin: auto;
}

h1 {
  font-family: Xanh Mono, monospace;
  font-size: 7.5vw;
  line-height: 1;
  margin: 0 0 var(--grid-gap) 0;
  background: var(--recipe-card-color);
  border: var(--solid-border);
  padding: 1.5vw;
  text-align: center;
}

main {
  width: 100%;
  vertical-align: top;
  padding-bottom: calc(var(--header_height) * 2);
  columns: var(--grid-columns);
  column-gap: var(--grid-gap);
}

.recipe, .recipe_description, .recipe_date, .recipe_counter, .ingredients_steps, .sources, .notes {
  display: inline-block;
  width: 100%;
  margin-bottom: var(--grid-gap);
  border: var(--solid-border);
  background: var(--recipe-card-color);
}

.full {
  width: 100%;
}

.recipe_description, .recipe_date, .recipe_counter, .ingredients_steps, .sources, .notes {
  padding: 1.5rem;
}

.ingredients_steps a:hover, .sources a:hover, .notes a:hover {
  font-family: Source Code Italic;
  font-variation-settings: 'wght' 400;
}

#home {
  border: var(--solid-border);
  background: var(--recipe-card-color);
  font-family: Xanh Mono, monospace;
  font-size: 1.5rem;
  padding: 1rem;
  margin-bottom: var(--grid-gap);
}

.recipe img {
  width: 100%;
  height: auto;
  margin: 0;
  border-bottom: var(--solid-border);
}

.recipe p, .ingredients_steps p, .sources p {
  font-family: Source Code Italic, monospace;
  font-variation-settings: 'wght' 400;
}

.recipe_description p, .notes p {
  line-height: 1.5;
}

.ingredients_group h3 {
  font-size: 1rem;
  font-family: Source Code, monospace;
  font-variation-settings: var(--SourceCodeBold);
  margin-bottom: 0.75rem;
}

.ingredients_group p {
  margin-top: 0.75rem;
}

h2 /* recipe title */ {
  font-family: Xanh Mono Italic, monospace;
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 1rem;
}

.recipe h2 {
  text-align: center;
  margin: 0.5rem 1rem 1rem 1rem;
}

.ingredients_group {
  border-top: var(--solid-border);
  padding-top: 1.25rem;
  margin-top: 1.25rem;
}

.ingredient {
  display: block;
  position: relative;
  padding-left: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 0.5rem;
}

.ingredient a::after {
  content: " ( ↗ recipe )";
}

/* hide the browser's default checkbox */
.ingredient input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.25rem;
  width: 1.25rem;
  border: var(--solid-border);
}

/* fill in checkbox */
.ingredient input:checked ~ .checkmark {
  background-color: var(--txt);
}

.sources a::before {
  content: "↗ ";
}

main p {
  width: 100%;
  line-height: 1.25;
}

@media only screen and (max-width: 800px) {
  :root {
    --root_ptsize: 14px;
    --header_height: 36px;
    --grid-columns: 1;
  }
  body {
    line-height: 1.5;
  }
  h1 {
    font-size: 22.5vw;
  }
  .recipe, .recipe_description, .recipe_date, .recipe_counter, .ingredients_steps, .sources, .notes {
    display: block;
  }
}